<h1>First page with issue list</h1>
<a  href="./issues/new">Create new issue</a>

{{#if fetchFailed }}
    <h2>Failed to retrieve issues correctly</h2>
{{/if}}

{{#if viewData.issues.length }}
<div id="issuewrapper">
{{#each viewData.issues}}
    <div id="issue{{this.id}}" class="issue">
      <h5>{{this.closedstate}}</h5>
    <h3 id="title">{{this.title}}</h3>
    <strong id="text">{{this.description}}</strong>
    <img src="{{avatarSrc}}" alt="avatar">

    {{#if this.closedstate }}
      <form method="post" action="issues/{{this.id}}/reopen">
      <button type="submit">Reopen issue</button>
      </form>
    {{/if}}

    {{#unless this.closedstate }}
      <form method="post" action="issues/{{this.id}}/close">
      <button type="submit">Close issue</button>
      </form>
    {{/unless}}
    
    </div>
{{/each}}
</div>
{{/if}}