<h1>First page with issue list</h1>
<a  href="./issues/new">Create new issue</a>
{{#if viewData.issues.length }}
<div class="issuewrapper">
{{#each viewData.issues}}
    <div id="id{{this.id}}" class="issue">
      <h5>{{this.closedstate}}</h5>
    <h3>{{this.title}}</h3>
    <strong>{{this.description}}</strong>
    <img src="https://gitlab.lnu.se/uploads/-/system/user/avatar/587/avatar.png" alt="avatar">

    {{#if this.closedstate }}
      <form method="post" action="issues/{{this.id}}/reopen">
      <button type="submit">Reopen issue</button>
      </form>
    {{/if}}

    {{#unless this.closedstate }}
      <form method="post" action="issues/{{this.id}}/close">
      <button type="submit">Close issue</button>
      </form>
    {{/unless}}
    
    </div>
{{/each}}
</div>
{{/if}}